<div class="row">
  <div class="col-xs-6">
    <label for="memberId">Member Details</label>
    <input
      type="text"
      id="memberId"
      class="form-control"
      [(ngModel)]="memberdetails"
    />
  </div>
  <div class="col-xs-6">
    <label for="taskdetails">Task Id</label>
    <input
      type="text"
      id="taskdetails"
      class="form-control"
      [(ngModel)]="taskdetails"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-2">
    <button type="button" (click)="getTasks()" class="btn btn-success">
      Get Tasks
    </button>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <h1>{{ projectTaskMember.taskName }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">{{ projectTaskMember.deliverables }}</div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ projectTaskMember.memberName }}
  </div>
</div>
