<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="addNewMember()">Add Member</button>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <div *ngFor="let member of members; let i = index">
      <a
        style="cursor: pointer"
        class="list-group-item clearfix"
        [routerLink]="i.toString()"
        routerLinkActive="active"
      >
        <div class="pull-left">
          <h4 class="list-group-item-heading">{{ member.name }}</h4>
          <p class="list-group-item-text">{{ member.description }}</p>
        </div>
      </a>
    </div>
  </div>
</div>
