<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="taskForm" (ngSubmit)="OnSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success">Save</button>
          &nbsp;
          <button type="button" class="btn btn-danger" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="name">Task</label>
            <input
              type="text"
              id="name"
              class="form-control"
              formControlName="name"
            />
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label for="id">Task Id</label>
            <input
              type="text"
              id="id"
              class="form-control"
              formControlName="id"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="membName">Member Name</label>
            <input
              type="text"
              id="membName"
              class="form-control"
              formControlName="membName"
            />
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label for="membId">Member Id</label>
            <input
              type="text"
              id="membId"
              class="form-control"
              formControlName="membId"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="desc">Description</label>
            <textarea
              type="text"
              id="desc"
              class="form-control"
              rows="2"
              formControlName="desc"
            >
            </textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label class="form-label" for="sDate">Start Date</label>
            <input
              type="date"
              id="sDate"
              formControlName="sDate"
              class="form-control"
            />
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label class="form-label" for="eDate">End Date</label>
            <input
              type="date"
              id="eDate"
              formControlName="eDate"
              class="form-control"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
